[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
pymodbus = "*"
pymodbus3 = "*"
twisted = "*"
crypto = "*"
numpy = "*"
pandas = "*"
pycrypto = "*"

[dev-packages]
